<div class="container">
  <div class="well">
    <h3>Formulaire {{typeFormulaire}} </h3>
    <form novalidate #monform="ngForm" (ngSubmit)="save(monform)">
      <div class="form-group">
        <label for='libelle'>libelle: </label>
        <input type="text" id="libelle" name="libelle" class="form-control" [(ngModel)]="editedTodo.libelle" minlength="3" maxlength="50"/>
      </div>
  
      <div class="form-group">
        <label for='description'>description: </label>
        <input type="text" id="description" name="description" class="form-control" [(ngModel)]="editedTodo.description"/>
      </div>
  
      <div class="form-group">
        <label for='priorite'>priorite</label>
        <input type="text" id="priorite" name="priorite" class="form-control" [(ngModel)]="editedTodo.priorite" pattern="^[0-5]$"/>
      </div>
  
      <div class="form-group">
        <label for='dateCreation'>date de creation </label>
        <input type="text" id="dateCreation" name="dateCreation" class="form-control" [ngModel]="editedTodo.dateCreation | date:'yyyy-MM-dd'" (ngModelChange)="editedTodo.dateCreation = $event" />
      </div>

      <div class="form-group">
        <label for='dateLimite'>date limite </label>
        <input type="text" id="dateLimite" name="dateLimite" class="form-control" [ngModel]="editedTodo.dateLimite | date:'yyyy-MM-dd'" (ngModelChange)="editedTodo.dateLimite = $event"  />
      </div>

      <div class="form-group">
        <label for='contexte'>contexte</label>
        <input type="text" id="contexte" name="contexte" class="form-control" [(ngModel)]="editedTodo.contexte" required/>
      </div>
      <div class="form-group">
        <label for='finished'>finished</label>
        <input type="text" id="finished" name="finished" class="form-control" [(ngModel)]="editedTodo.finished"/>
      </div>
      <input [disabled]="monform.invalid" type="submit" value="{{nameBtn}}" class="btn btn-primary"/>
    </form>
  </div>
  
</div>
