<div class="">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span *ngIf="tagMod == 0"> filter by selected tags</span>
            <span *ngIf="tagMod == 1">tag de l'image</span>
        </div>
        <div *ngIf="tagMod == 0" class="panel-body">
            <li *ngFor="let tag of tagsSelected | async" class="btn-group btn-group-xs btn-group-justified" role="group">
                <!-- old without animation<a type="button" [ngClass]="{'positive-tag':tag[0], 'negative-tag':!tag[0]}" class="btn btn-default btn-group" (click)="toogleSelectedTag(tag)"> {{tag[1].libelle | truncate:6 }} </a>-->
                <a type="button" [@tagState]="getTagState(tag)" class="btn btn-default btn-group" (click)="toogleSelectedTag(tag)"> {{tag[1].libelle | truncate:6 }} </a>
                <a type="button" style="width: .20%" class="btn btn-default btn-group"  (click)="removeFromSelectedTag(tag[1])">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </a>
                </li>
        </div>
        <div *ngIf="tagMod == 1" class="panel-body">
                <li *ngFor="let tag of tagsRelated" class="btn-group btn-group-xs btn-group-justified" role="group">
                    <a type="button" class="btn btn-default btn-group"> {{tag.libelle | truncate:6 }} </a>
                        <a type="button" style="width: .20%" class="btn btn-default btn-group"  (click)="removeFromSelectedTag(tag)">
                                <span class="glyphicon glyphicon-arrow-down"></span>
                        </a>
                    </li>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            All tags
        </div>
        <div class="panel-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." name="searchTerm" [ngModel]="searchTerm" (ngModelChange)="changeTerm($event)">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="addTag(createTagTemplate)" ><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
            </div><!-- /input-group -->

            <br />
            <li *ngFor="let tag of tagSubject | async" class="btn-group btn-group-xs btn-group-justified" role="group">
                <a type="button" class="btn btn-default btn-group" (click)="order(tag)"> {{tag.libelle | truncate:6 }} </a>
                <a type="button" style="width: .20%" class="btn btn-default btn-group" (click)="addToSelectedTag(tag)">
                        <span class="glyphicon glyphicon-arrow-up"></span>
                </a>
            </li>
            <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [ngModel]="currentPage" (pageChanged)="pageChanged($event)" 
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                </div>
        </div>
        
    </div>
    
</div>

<!-- modal confirm delete -->
<ng-template #createTagTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Creation de tag</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <form>
            <div class="form-group">
                <label for="libelle">libellé du tag</label>
                <input type="text" class="form-control" id="libelle" name="libelle" [(ngModel)]="editedTag.libelle" />
            </div>
            <div class="form-group">
                <label for="description">description du tag</label>
                <textarea rows="5" cols="50" class="form-control" id="description" name="description" [(ngModel)]="editedTag.description">
                </textarea>
            </div>
        </form>
        <button type="button" (click)="confirmCreate()" class="btn btn-success">Sauver</button>
    </div>
</ng-template>
