<div class="well">
  <form (ngSubmit)="signUp()">
    <div class="form-group">
      <label for="username">username</label>
      <input type="text" id="username" name="username" class="form-control" [(ngModel)]="user.username"/>
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="text" id="password" name="password" class="form-control" [(ngModel)]="user.password"/>
    </div>
    <button type="submit" class="btn btn-success">S'enregistrer</button>
  </form>
</div>
